version: "3.8"

services:
  api:
    build: .
    env_file:
      - .env
    volumes:
      - ./local_images:/data/images
      - ./service_account.json:/app/service_account.json:ro
    restart: unless-stopped

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - api

volumes:
  caddy_data:
  caddy_config:
